<form #albumForm="ngForm" (submit)="createAlbum(albumForm)">
  <input type="txt" placeholder="Title" ngModel name="title" class="form-control">
  <input type="txt" placeholder="Url" ngModel name="url" class="form-control">
  <input type="txt" placeholder="Thumbnail Url" ngModel name="thumbnailUrl" >
  <input type="submit" value = "Add">
</form>
<div *ngFor="let album of albums">
  <p>{{album.id}}</p>
  <a>{{album.title}}</a>
  <p>{{album.url}}</p>
  <p>{{album.thumbnailUrl}}</p>
  <button (click)="deleteAlbum(album.id)">Delete</button>
</div>
